// 混入文件
// 媒体查询
@mixin respond-to($breakpoint) {
	@if $breakpoint == 'xs' {
		@media (max-width: #{$breakpoint-xs}) {
			@content;
		}
	}
	@if $breakpoint == 'sm' {
		@media (max-width: #{$breakpoint-sm}) {
			@content;
		}
	}
	@if $breakpoint == 'md' {
		@media (max-width: #{$breakpoint-md}) {
			@content;
		}
	}
	@if $breakpoint == 'lg' {
		@media (max-width: #{$breakpoint-lg}) {
			@content;
		}
	}
	@if $breakpoint == 'xl' {
		@media (max-width: #{$breakpoint-xl}) {
			@content;
		}
	}
}

// 弹性布局快捷方式
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// 文字溢出显示省略号
@mixin text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin text-ellipsis-multi($lines) {
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

// 清除浮动
@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}
